In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin
import datetime

In [2]:
country = {'USA':'FX_USDKRW', 'EUR':'FX_EURKRW', 'JPY':'FX_JPYKRW', 'CNY':'FX_CNYKRW'}
base_url = 'https://finance.naver.com/marketindex/exchangeDetail.nhn'

temp_dict = {}

usaList = []
eurList = []
jpyList = []
cnyList = []

for country_name, country_code in country.items():
    dateList = []
    for i in range(1,4):
        params = {
            'marketindexCd': country_code,
        }
        
        resp = requests.get(base_url, params=params)
        soup = BeautifulSoup(resp.text,'lxml')

        _iframe = soup.find_all('iframe')
        day_sise = urljoin(base_url,_iframe[1].get('src'))
        day_sise = day_sise+'&page='+str(i)
        print(day_sise)
        
        resp2 = requests.get(day_sise)
        soup2 = BeautifulSoup(resp2.text,'lxml')

        day_body = soup2.select('tbody tr')
        
        for body in day_body:
            dateList.append(body.find('td', class_='date').text.replace('.','-'))
            
            if country_name == 'USA':
                usaList.append(body.find('td', class_='num').text)
                
            elif country_name == 'EUR':
                eurList.append(body.find('td', class_='num').text)
                
            elif country_name == 'JPY':
                jpyList.append(body.find('td', class_='num').text)
                
            elif country_name == 'CNY':
                cnyList.append(body.find('td', class_='num').text)

https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_USDKRW&page=1
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_USDKRW&page=2
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_USDKRW&page=3
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_EURKRW&page=1
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_EURKRW&page=2
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_EURKRW&page=3
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_JPYKRW&page=1
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_JPYKRW&page=2
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_JPYKRW&page=3
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_CNYKRW&page=1
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_CNYKRW&page=2
https://finance.naver.com/marketindex/exchangeDailyQuote.nhn?marketindexCd=FX_CNYKRW&page=3

In [3]:
df1 = pd.DataFrame({'날짜' : dateList,
        'USA' : usaList,
        'EUR' : eurList,
        'JPY' : jpyList,
        'CNY' : cnyList})
df1

            날짜       USA       EUR       JPY     CNY
0   2020-06-05  1,209.00  1,370.04  1,106.48  170.46
1   2020-06-04  1,219.50  1,366.51  1,119.94  171.16
2   2020-06-03  1,217.00  1,363.83  1,119.13  171.06
3   2020-06-02  1,222.50  1,365.23  1,134.31  171.87
4   2020-06-01  1,228.00  1,363.82  1,140.10  171.88
5   2020-05-29  1,238.00  1,377.89  1,154.47  172.88
6   2020-05-28  1,240.00  1,364.56  1,150.65  172.83
7   2020-05-27  1,234.50  1,360.11  1,145.97  172.13
8   2020-05-26  1,234.00  1,351.85  1,146.36  172.73
9   2020-05-25  1,242.00  1,353.22  1,153.15  173.61
10  2020-05-22  1,240.50  1,352.83  1,154.65  173.46
11  2020-05-21  1,230.50  1,352.50  1,142.26  172.94
12  2020-05-20  1,229.00  1,345.20  1,141.98  172.82
13  2020-05-19  1,226.00  1,343.02  1,139.56  172.16
14  2020-05-18  1,234.50  1,334.93  1,151.00  172.94
15  2020-05-15  1,230.50  1,329.86  1,150.00  172.69
16  2020-05-14  1,228.50  1,325.80  1,147.97  172.58
17  2020-05-13  1,224.50  1,329.38  1,144.13  172.28
18  2020-05-12  1,224.00  1,326.33  1,139.40  172.49
19  2020-05-11  1,224.00  1,324.43  1,140.99  172.32
20  2020-05-08  1,221.00  1,323.99  1,147.99  172.32
21  2020-05-07  1,224.00  1,320.33  1,148.54  172.19
22  2020-05-06  1,225.50  1,323.85  1,153.30  172.13
23  2020-05-04  1,225.50  1,339.84  1,147.10  172.02
24  2020-04-29  1,219.00  1,344.56  1,144.55  172.06
25  2020-04-28  1,219.50  1,326.76  1,143.30  172.23
26  2020-04-27  1,226.00  1,330.95  1,144.78  173.00
27  2020-04-24  1,234.50  1,330.67  1,147.20  174.10
28  2020-04-23  1,231.00  1,326.53  1,144.53  173.55
29  2020-04-22  1,232.00  1,339.31  1,144.56  173.57

In [4]:
date_range = (pd.date_range(start='20200501', end=datetime.date.today())).strftime("%Y-%m-%d").tolist()
df2 = pd.DataFrame({'날짜':date_range})
df2

            날짜
0   2020-05-01
1   2020-05-02
2   2020-05-03
3   2020-05-04
4   2020-05-05
5   2020-05-06
6   2020-05-07
7   2020-05-08
8   2020-05-09
9   2020-05-10
10  2020-05-11
11  2020-05-12
12  2020-05-13
13  2020-05-14
14  2020-05-15
15  2020-05-16
16  2020-05-17
17  2020-05-18
18  2020-05-19
19  2020-05-20
20  2020-05-21
21  2020-05-22
22  2020-05-23
23  2020-05-24
24  2020-05-25
25  2020-05-26
26  2020-05-27
27  2020-05-28
28  2020-05-29
29  2020-05-30
30  2020-05-31
31  2020-06-01
32  2020-06-02
33  2020-06-03
34  2020-06-04
35  2020-06-05
36  2020-06-06
37  2020-06-07

In [5]:
df_OUTER_JOIN = pd.merge(df1, df2, left_on='날짜', right_on='날짜', how='outer', sort=True)
df_finally = df_OUTER_JOIN.fillna(method='ffill')
df_finally[6:].to_csv('naver_exchange_crawling.csv', encoding='cp949', index=False)

In [6]:
df_finally[6:]

            날짜       USA       EUR       JPY     CNY
6   2020-05-01  1,219.00  1,344.56  1,144.55  172.06
7   2020-05-02  1,219.00  1,344.56  1,144.55  172.06
8   2020-05-03  1,219.00  1,344.56  1,144.55  172.06
9   2020-05-04  1,225.50  1,339.84  1,147.10  172.02
10  2020-05-05  1,225.50  1,339.84  1,147.10  172.02
11  2020-05-06  1,225.50  1,323.85  1,153.30  172.13
12  2020-05-07  1,224.00  1,320.33  1,148.54  172.19
13  2020-05-08  1,221.00  1,323.99  1,147.99  172.32
14  2020-05-09  1,221.00  1,323.99  1,147.99  172.32
15  2020-05-10  1,221.00  1,323.99  1,147.99  172.32
16  2020-05-11  1,224.00  1,324.43  1,140.99  172.32
17  2020-05-12  1,224.00  1,326.33  1,139.40  172.49
18  2020-05-13  1,224.50  1,329.38  1,144.13  172.28
19  2020-05-14  1,228.50  1,325.80  1,147.97  172.58
20  2020-05-15  1,230.50  1,329.86  1,150.00  172.69
21  2020-05-16  1,230.50  1,329.86  1,150.00  172.69
22  2020-05-17  1,230.50  1,329.86  1,150.00  172.69
23  2020-05-18  1,234.50  1,334.93  1,151.00  172.94
24  2020-05-19  1,226.00  1,343.02  1,139.56  172.16
25  2020-05-20  1,229.00  1,345.20  1,141.98  172.82
26  2020-05-21  1,230.50  1,352.50  1,142.26  172.94
27  2020-05-22  1,240.50  1,352.83  1,154.65  173.46
28  2020-05-23  1,240.50  1,352.83  1,154.65  173.46
29  2020-05-24  1,240.50  1,352.83  1,154.65  173.46
30  2020-05-25  1,242.00  1,353.22  1,153.15  173.61
31  2020-05-26  1,234.00  1,351.85  1,146.36  172.73
32  2020-05-27  1,234.50  1,360.11  1,145.97  172.13
33  2020-05-28  1,240.00  1,364.56  1,150.65  172.83
34  2020-05-29  1,238.00  1,377.89  1,154.47  172.88
35  2020-05-30  1,238.00  1,377.89  1,154.47  172.88
36  2020-05-31  1,238.00  1,377.89  1,154.47  172.88
37  2020-06-01  1,228.00  1,363.82  1,140.10  171.88
38  2020-06-02  1,222.50  1,365.23  1,134.31  171.87
39  2020-06-03  1,217.00  1,363.83  1,119.13  171.06
40  2020-06-04  1,219.50  1,366.51  1,119.94  171.16
41  2020-06-05  1,209.00  1,370.04  1,106.48  170.46
42  2020-06-06  1,209.00  1,370.04  1,106.48  170.46
43  2020-06-07  1,209.00  1,370.04  1,106.48  170.46